<!DOCTYPE html>
<html>

<head>
    <title>FORM</title>
</head>

<body>
    <form action="/" method="post">
        <textarea name="review" cols="30" rows="10"></textarea>
        <input type="submit">
    </form>


    {{!-- <form action="/" method="post">
        <p>Login</p>
        <input name="login" value="{{body.login}}">
        <p>Password</p>
        <input name="password" value="{{body.password}}">
        <p>e-mail</p>
        <input name="e-mail" value="{{body.e-mail}}">
        <input type="submit">
    </form> --}}

    {{!-- <form action="/" method="post">
        <input name="name" placeholder="Name">
        <input name="country" placeholder="Country">
        <input name="city" placeholder="City">
        <input type="submit">
    </form> --}}

    {{!-- {{#if query.submit}}
    <div>HELLO {{query.name}}</div>
    {{else}}
    <form action="" method="GET">
        <input name="name">
        <input type="submit" name="submit">
    </form>
    {{/if}} --}}

    {{!-- <form action="" method="GET">
        <input name="test1">
        <input name="test2">
        <input name="test3">
        <input name="test4">
        <input name="test5">
        <input type="submit" name="submit">
    </form>
    <div>
        {{sum}}
    </div> --}}

    {{!-- <form action="" method="GET">
        <input name="name" value="{{query.name}}">
        <input name="age" value="{{query.age}}">
        <input name="salary" value="{{query.salary}}">
        <input type="submit">
    </form> --}}

    {{!-- <form action="" method="GET">
        <input name="test1">
        <input name="test2">
        <input name="test3">
        <input type="submit">
    </form>

    {{#if sum}}
    {{sum}}
    {{/if}} --}}
</body>

</html>