<!DOCTYPE html>
<html>

<head>
	<title>{{ title }}</title>
</head>

<body>
	<header>
		{{!-- {{> header/menu}} --}}
	</header>
	<main>
		<div>index</div>

		<div>current date: {{getDate}} </div>
		{{!-- <div>{{#with product}}
			Object {{name}} {{cost}} {{amount}}
			<div>{{../amount}}</div>
			{{/with}}
		</div> --}}
		{{!-- <ul>
			{{#each product}}
			<li>{{.}}</li>
			{{/each}}
		</ul> --}}
		{{!-- <div>
			{{#if show1}}
			<div>show1</div>
			{{/if}}
			{{#if show2}}
			<div>show2</div>
			{{/if}}
			{{#if show3}}
			<div>show3</div>
			{{/if}}
		</div> --}}
	</main>
	<footer>
		{{!-- {{> footer/contact}} --}}
	</footer>
</body>

</html>